# Introdução ao Pandas

Agora vamos colocar a mão na massa!

Ao final dessa aula vamos conseguir:

0. Entender o jupyter notebook, instalar e chamar bibliotecas; 
1. Realizar operações matemáticas básicas;
2. Importar um arquivo .csv;
3. Manipular o arquivo dataframe e chegar a conclusões;
4. Unir dois dataframes distintos a partir de uma base comum.

Vamos lá!

## Início do início:

Para escrever textos: Markdown

In [ ]:
# Para comentar códigos, use o #

Cada célula é executada independentemente das demais. Use isso ao seu favor, separando em diferentes células diferentes etapas do processo de análise ou exibir etapas dos resultados :)

### Operações matemáticas:

In [2]:
#Soma
1+1

1

In [3]:
#Subtração
1-1

0

In [5]:
#Multiplicação
2*4

8

In [6]:
#Divisão
8/2

4.0

### Objetos e classes

Podemos atribuir a um objeto o resultado de nossas operações matemáticas ou, como veremos mais pra frente, o nosso dataframe. O objeto ficará armazenado na memória do jupyter e poderá ser acessado e modificado em operações futuras.

Para atribuir uma operação a um objeto basta utilizar o sinal de =

In [8]:
# Exemplo:

obj = 2*4

*É possível traduzir esta operação com "obj RECEBE 2*4*

In [9]:
#Consultando:

obj

8

Importante: o homem é inteligente, o computador, por sua vez, só responde comandos. Isso significa que ele não vai adivinhar o que você quer executar se você não digitar **exatamente** o que você deseja executar ou se você executar as células fora de sequência.

Exemplo:

In [1]:
x

NameError: name 'x' is not defined

In [2]:
x = 15*10

In [3]:
x

150

Você pode realizar mais de uma operação na célula, ela irá executar todas, mas apenas printar a última:

In [8]:
z = 2*4
y = 3*5
z
y

15

In [9]:
z

8

## Bibliotecas:

Bibliotecas são conjuntos de verbos que auxiliam a linguagem que estamos utilizando. São como "pacotes de expansão", permitindo que mais coisas sejam feitas dentro de uma determinada linguagem.

Uma biblioteca muito utilizada na ciência de dados em python é a **Pandas** .

In [11]:
#importando a biblioteca pandas e dando um "apelido" para ela.

import pandas as pd

#pd é a nomenclatura padrão.

Pronto, só isso =)

As funções (verbos) costumam ser precedidos da biblioteca ou do objeto que ele irá trabalhar. Veremos exemplos a seguir.

### Importando arquivos .CSV

Vamos importar o arquivo da FIFA com todos os jogadores convocados para a copa de 2018. É um arquivo .CSV , separado por ; e com encoding "UTF-8"

In [24]:
fifa = pd.read_csv("fifa2018.csv", sep=";")

O que vem dentro do () são os *parâmetros* da função. 
A função `pd.read_csv()` acima tem dois parâmetros: o nome do arquivo e o separador.
O nome do arquivo é um parâmetro obrigatório, porque sem ele o computador não sabe qual arquivo você quer importar. 
Já o parâmetro do separador é opcional mas nós precisamos explicitar, pois o *default* do comando espera um separador com vírgulas, mas o nosso arquivo possui o separador ; 

O comando possui outros vários parâmetros default que estão ocultos, mas que podem ser consultados com o comando `help()`. Isso é especialmente útil quando estamos com problema para importar um arquivo, porque provavelmente algum dos parâmetros default não é compatível com o arquivo que está sendo importado.

Vamos rapidamente só consultar olhar os parâmetros da função `pd.read_csv()` :

In [21]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

E agora vamos (finalmente) olhar o nosso dataframe com o `head`

O que que costumamos olhar:

* Se as colunas estão corretas (separador)
* Se os nomes estão corretos (encoding)
* O que tem no banco =)

In [27]:
fifa.head()

,number,fifa_display_name,last_name,first_name,shirt_name,day_of_birth,position,club,height,caps,goals,team
0,1,Nahuel GUZMAN,GUZMÁN,Nahuel Ignacio,GUZMÁN,10.02.1986,GK,Tigres (MEX),192,6,0,Argentina
1,2,Gabriel MERCADO,MERCADO,Gabriel Ivan,MERCADO,18.03.1987,DF,Sevilla FC (ESP),181,21,3,Argentina
2,3,Nicolas TAGLIAFICO,TAGLIAFICO,Nicolás Alejandro,TAGLIAFICO,31.08.1992,DF,Ajax (NED),169,6,0,Argentina
3,4,Cristian ANSALDI,ANSALDI,Cristian Daniel,ANSALDI,20.09.1986,DF,Torino (ITA),181,5,1,Argentina
4,5,Lucas BIGLIA,BIGLIA,Lucas Rodrigo,BIGLIA,30.01.1986,MF,AC Milan (ITA),175,58,1,Argentina

In [28]:
# E olhar as últimas 5 linhas?

fifa.tail(5)

,number,fifa_display_name,last_name,first_name,shirt_name,day_of_birth,position,club,height,caps,goals,team
731,19,Sebastian COATES,COATES NION,Sebastián,S. COATES,07.10.1990,DF,Sporting CP (POR),196,30,1,Uruguay
732,20,Jonathan URRETAVISCAYA,URRETAVISCAYA DA LUZ,Jonathan Matias,J. URRETAVISCAYA,19.03.1990,FW,Monterrey (MEX),172,4,0,Uruguay
733,21,Edinson CAVANI,CAVANI GOMEZ,Edinson Roberto,E. CAVANI,14.02.1987,FW,Paris Saint-Germain (FRA),188,103,42,Uruguay
734,22,Martin CACERES,CÁCERES SILVA,José Martín,M. CACERES,07.04.1987,DF,Lazio (ITA),178,78,4,Uruguay
735,23,Martin SILVA,SILVA LEITES,Martin Andres,M. SILVA,25.03.1983,GK,Clube de Regatas Vasco da Gama (BRA),187,11,0,Uruguay

In [30]:
#Agora uma breve descrição estatística dos nossos dados:

fifa.describe()

          number      height        caps       goals
count  736.00000  736.000000  736.000000  736.000000
mean    12.00000  182.442935   36.307065    4.619565
std      6.63776    6.858492   32.185529    8.918640
min      1.00000  165.000000    0.000000    0.000000
25%      6.00000  178.000000   10.750000    0.000000
50%     12.00000  183.000000   26.000000    1.000000
75%     18.00000  187.000000   53.250000    5.000000
max     23.00000  201.000000  158.000000   85.000000

In [34]:
# Contando a quantidade de missing values por coluna:

fifa.isnull().sum()

number               0
fifa_display_name    0
last_name            0
first_name           0
shirt_name           0
day_of_birth         0
position             0
club                 0
height               0
caps                 0
goals                0
team                 0
dtype: int64

## Processamento de dados

As vezes, precisamos não apenas consultar mas também modificar nossos dados.

### Criando novas variáveis

Se quisessemos dizer que todas essas linhas se referem a jogos de futebol, poderiamos criar uma nova coluna que indicasse o esporte:

In [36]:
fifa['esporte'] = "Futebol"
fifa.head()

,number,fifa_display_name,last_name,first_name,shirt_name,day_of_birth,position,club,height,caps,goals,team,esporte
0,1,Nahuel GUZMAN,GUZMÁN,Nahuel Ignacio,GUZMÁN,10.02.1986,GK,Tigres (MEX),192,6,0,Argentina,Futebol
1,2,Gabriel MERCADO,MERCADO,Gabriel Ivan,MERCADO,18.03.1987,DF,Sevilla FC (ESP),181,21,3,Argentina,Futebol
2,3,Nicolas TAGLIAFICO,TAGLIAFICO,Nicolás Alejandro,TAGLIAFICO,31.08.1992,DF,Ajax (NED),169,6,0,Argentina,Futebol
3,4,Cristian ANSALDI,ANSALDI,Cristian Daniel,ANSALDI,20.09.1986,DF,Torino (ITA),181,5,1,Argentina,Futebol
4,5,Lucas BIGLIA,BIGLIA,Lucas Rodrigo,BIGLIA,30.01.1986,MF,AC Milan (ITA),175,58,1,Argentina,Futebol

Agora, digamos que vocês estão elaborando as estatísticas dos jogadores antes da copa. Com essas informações da Fifa, seria interessante saber qual é a média de gols por jogador com a camisa da sua seleção. Para isso vamos criar uma nova coluna que divide o número de gols (goals) pelo número de jogos pela seleção (caps).

In [45]:
fifa['media_gols'] = fifa['goals']/fifa['caps']
fifa.head()

,number,fifa_display_name,last_name,first_name,shirt_name,day_of_birth,position,club,height,caps,goals,team,esporte,media_gols
0,1,Nahuel GUZMAN,GUZMÁN,Nahuel Ignacio,GUZMÁN,10.02.1986,GK,Tigres (MEX),192,6,0,Argentina,Futebol,0.000000
1,2,Gabriel MERCADO,MERCADO,Gabriel Ivan,MERCADO,18.03.1987,DF,Sevilla FC (ESP),181,21,3,Argentina,Futebol,0.142857
2,3,Nicolas TAGLIAFICO,TAGLIAFICO,Nicolás Alejandro,TAGLIAFICO,31.08.1992,DF,Ajax (NED),169,6,0,Argentina,Futebol,0.000000
3,4,Cristian ANSALDI,ANSALDI,Cristian Daniel,ANSALDI,20.09.1986,DF,Torino (ITA),181,5,1,Argentina,Futebol,0.200000
4,5,Lucas BIGLIA,BIGLIA,Lucas Rodrigo,BIGLIA,30.01.1986,MF,AC Milan (ITA),175,58,1,Argentina,Futebol,0.017241

In [48]:
# E se quisessemos diminuir o número de casas decimais?

fifa['media_gols'] = round(fifa['goals']/fifa['caps'],2)
fifa.head()

,number,fifa_display_name,last_name,first_name,shirt_name,day_of_birth,position,club,height,caps,goals,team,esporte,media_gols
0,1,Nahuel GUZMAN,GUZMÁN,Nahuel Ignacio,GUZMÁN,10.02.1986,GK,Tigres (MEX),192,6,0,Argentina,Futebol,0.00
1,2,Gabriel MERCADO,MERCADO,Gabriel Ivan,MERCADO,18.03.1987,DF,Sevilla FC (ESP),181,21,3,Argentina,Futebol,0.14
2,3,Nicolas TAGLIAFICO,TAGLIAFICO,Nicolás Alejandro,TAGLIAFICO,31.08.1992,DF,Ajax (NED),169,6,0,Argentina,Futebol,0.00
3,4,Cristian ANSALDI,ANSALDI,Cristian Daniel,ANSALDI,20.09.1986,DF,Torino (ITA),181,5,1,Argentina,Futebol,0.20
4,5,Lucas BIGLIA,BIGLIA,Lucas Rodrigo,BIGLIA,30.01.1986,MF,AC Milan (ITA),175,58,1,Argentina,Futebol,0.02

In [52]:
fifa['last_name']

0                       GUZMÁN
1                      MERCADO
2                   TAGLIAFICO
3                      ANSALDI
4                       BIGLIA
5                        FAZIO
6                       BANEGA
7                        ACUÑA
8                      HIGUAIN
9                        MESSI
10                    DI MARIA
11                      ARMANI
12                        MEZA
13                  MASCHERANO
14                       PEREZ
15                        ROJO
16                    OTAMENDI
17                      SALVIO
18                      AGÜERO
19                    LO CELSO
20                      DYBALA
21                       PAVÓN
22                   CABALLERO
23                        RYAN
24                     DEGENEK
25                    MEREDITH
26                      CAHILL
27                    MILLIGAN
28                      JURMAN
29                      LECKIE
                ...
706                     SKHIRI
707                     SRARFI
708                    KHALIFA
709                   CHAALELI
710                     NAGUEZ
711                     HASSEN
712                      SLITI
713              MUSLERA MICOL
714          GIMENEZ DE VARGAS
715                 GODIN LEAL
716             VARELA OLIVERA
717             SÁNCHEZ ARCOSA
718           BENTANCUR COLMAN
719          RODRIGUEZ BAROTTI
720              NANDEZ ACOSTA
721                SUAREZ DIAZ
722    DE ARRASCAETA BENEDETTI
723             STUANI CURBELO
724            CAMPAÑA DELGADO
725              SILVA PERDOMO
726         TORREIRA DI PASCUA
727              VECINO FALERO
728               PEREIRA PAEZ
729              LAXALT SUAREZ
730             GÓMEZ GONZÁLEZ
731                COATES NION
732       URRETAVISCAYA DA LUZ
733               CAVANI GOMEZ
734              CÁCERES SILVA
735               SILVA LEITES
Name: last_name, Length: 736, dtype: object