# Introdução ao Pandas

Agora vamos colocar a mão na massa!

Ao final dessa aula vamos conseguir:

0. Entender o jupyter notebook, instalar e chamar bibliotecas; 
1. Realizar operações matemáticas básicas;
2. Importar um arquivo .csv;
3. Manipular o arquivo dataframe e chegar a conclusões;
4. Unir dois dataframes distintos a partir de uma base comum.

Vamos lá!

## Início do início:

Para escrever textos: Markdown

In [ ]:
# Para comentar códigos, use o #

Cada célula é executada independentemente das demais. Use isso ao seu favor, separando em diferentes células diferentes etapas do processo de análise ou exibir etapas dos resultados :)

### Operações matemáticas:

In [2]:
#Soma
1+1

1

In [3]:
#Subtração
1-1

0

In [5]:
#Multiplicação
2*4

8

In [6]:
#Divisão
8/2

4.0

### Objetos e classes

Podemos atribuir a um objeto o resultado de nossas operações matemáticas ou, como veremos mais pra frente, o nosso dataframe. O objeto ficará armazenado na memória do jupyter e poderá ser acessado e modificado em operações futuras.

Para atribuir uma operação a um objeto basta utilizar o sinal de =

In [8]:
# Exemplo:

obj = 2*4

*É possível traduzir esta operação com "obj RECEBE 2*4*

In [9]:
#Consultando:

obj

8